<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServer" connectionString="Data Source=.;Initial Catalog=EducationalPlatformDb;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="TeachingMaterialsPath" value="../../../Materiale didactice/" />
	</appSettings>
</configuration>

